.THIS {
}
.THIS .componentBorder {
    border: 2px solid gray;
    border-radius: 5px;
}
.THIS .uiButton { 
	background-color:#717073; 
	font-size: 12px;

}

.THIS .uiButtonActive { 
	background-color:#EE3124; 
	color:#FFFFFF ; 
	font-size: 12px;

}