.THIS {
}

.THIS .xcs-fix-max-height{
    max-height: 430px;
}
.THIS .modalPositioning {
  position: fixed;
    top:  70%;
    left: 50%;
  transform: translate(-50%, -50%);
}
.THIS .uiInputSelectCSS {
    width: 80px;
    height: 50px;
}
.THIS .categorySize {
    width: 200px;
}

.THIS .tableSize {
    width: 100px;
}
.THIS td{
    white-space: normal;
}